<br>
<font face="黑体"> Version of 10 interval of y  (unit: 10000dollars/ num of data:20000)

In [51]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 

from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import SGD

from keras.datasets import mnist

from keras.utils import np_utils

df = pd.read_excel('raw_used_car_data.xlsx')

In [52]:
df.head()

,ID,make,model,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price
0,97860,Porsche,911,240.0,210.0,classic,3.0,manual,gasoline,202000.0,999999.0
1,27821,Ford,Mustang,54.0,487.0,used,1.0,manual,gasoline,30000.0,685000.0
2,97801,Porsche,911,358.0,220.0,used,NaN,manual,gasoline,56300.0,555555.0
3,98251,Porsche,911,14.0,368.0,used,1.0,manual,gasoline,2800.0,470000.0
4,98250,Porsche,911,3.0,515.0,used,NaN,NaN,gasoline,10.0,450000.0

In [53]:
# nurmeric
df_t = pd.read_excel('training_x1.xlsx')

In [54]:
df_t.head()

,ID,make,months_old,power,sale_type,num_owners,gear_type,fuel_type,kms,price
0,10662,4,33,85,5,1,2,2,68632,18500
1,8891,2,50,130,5,1,1,2,60000,24995
2,11365,4,125,105,5,1,2,2,182000,10000
3,57055,35,42,103,5,1,1,2,92000,15500
4,30108,20,127,80,5,1,2,2,210500,5950

In [55]:
##x data
x_train= np.array([df_t['make'] , df_t['months_old'] , df_t['power'] , df_t['sale_type'] , df_t['num_owners'] ,  df_t['gear_type'] , 
            df_t['fuel_type'] , df_t['kms']]) 
x_train=x_train.T
print (x_train)

[[     4     33     85 ...      2      2  68632]
 [     2     50    130 ...      1      2  60000]
 [     4    125    105 ...      2      2 182000]
 ...
 [    13      5    103 ...      2      5     21]
 [    35     53    150 ...      1      2 107200]
 [    35     52    103 ...      2      2  90000]]

In [56]:
len(x_train)

21418

In [57]:
## put y in [1*20]
df_tt = pd.read_excel('training_y1.xlsx')

In [58]:
df_tt.head()

   1   2   3   4   5   6   7   8   9   10
0   0   1   0   0   0   0   0   0   0   0
1   0   0   1   0   0   0   0   0   0   0
2   1   0   0   0   0   0   0   0   0   0
3   0   1   0   0   0   0   0   0   0   0
4   1   0   0   0   0   0   0   0   0   0

In [59]:
##y data
y_train= np.array([df_tt[1] , df_tt[2] , df_tt[3] , df_tt[4] , df_tt[5] , df_tt[6] , df_tt[7] , df_tt[8] , df_tt[9]  , df_tt[10] ])
y_train=y_train.T
print (y_train)

[[0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 1 0 ... 0 0 0]]

In [60]:
len(y_train)

21418

In [61]:
## actual y
y_actual_train= np.array([df_t['price'] ]) 
y_actual_train=y_actual_train.T
print (y_actual_train)

[[18500]
 [24995]
 [10000]
 ...
 [18800]
 [25900]
 [12450]]

In [62]:
##test data
X = x_train[87]

In [63]:
X

array([   29,    22,    77,     5,     1,     2,     2, 68000])

In [64]:
Y = y_actual_train[87]

In [65]:
Y

array([9350])

In [66]:
x_train = x_train.reshape(21418, 8)

In [67]:
y_train = y_train.reshape(21418, 10)

In [68]:
##normalize
x_train = x_train-x_train.min()
x_train = x_train/x_train.max()
x_train.min(), x_train.max()

(0.0, 1.0)

In [69]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.optimizers import SGD
from keras.models import Model
from keras.layers import Input
from keras.layers import concatenate, add
%env KERAS_BACKEND=tensorflow

env: KERAS_BACKEND=tensorflow

In [70]:
f_1 = Dense(20, activation='sigmoid')
f_2 = Dense(15, activation='relu')
f_3 = Dense(20, activation='sigmoid')
f_4 = Dense(15, activation='tanh')
f_5 = Dense(10, activation='relu')
f_6 = Dense(5, activation='sigmoid')
f_7 = Dense(15, activation='tanh')
f_8 = Dense(10, activation='relu')
f_9 = Dense(10, activation='softmax')

x = Input(shape=(8,))

h_1 = f_1(x)
h_2 = f_2(x)
c1 = concatenate([h_1, h_2])
h_3 = f_3(c1)
h_4 = f_4(h_3)
h_5 = f_5(h_3)
h_6 = f_6(h_3)
c2 = concatenate([h_4, h_5, h_6])
h_7=f_7(c2)
h_8=f_8(h_7)
y = f_9(h_8)

In [71]:
model = Model(x, y)

In [72]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_6 (InputLayer)            (None, 8)            0
__________________________________________________________________________________________________
dense_38 (Dense)                (None, 20)           180         input_6[0][0]
__________________________________________________________________________________________________
dense_39 (Dense)                (None, 15)           135         input_6[0][0]
__________________________________________________________________________________________________
concatenate_11 (Concatenate)    (None, 35)           0           dense_38[0][0]
                                                                 dense_39[0][0]
__________________________________________________________________________________________________
dense_40 (Dense)                (None, 20)           720         concatenate_11[0][0]
__________________________________________________________________________________________________
dense_41 (Dense)                (None, 15)           315         dense_40[0][0]
__________________________________________________________________________________________________
dense_42 (Dense)                (None, 10)           210         dense_40[0][0]
__________________________________________________________________________________________________
dense_43 (Dense)                (None, 5)            105         dense_40[0][0]
__________________________________________________________________________________________________
concatenate_12 (Concatenate)    (None, 30)           0           dense_41[0][0]
                                                                 dense_42[0][0]
                                                                 dense_43[0][0]
__________________________________________________________________________________________________
dense_44 (Dense)                (None, 15)           465         concatenate_12[0][0]
__________________________________________________________________________________________________
dense_45 (Dense)                (None, 10)           160         dense_44[0][0]
__________________________________________________________________________________________________
dense_46 (Dense)                (None, 10)           110         dense_45[0][0]
==================================================================================================
Total params: 2,400
Trainable params: 2,400
Non-trainable params: 0
__________________________________________________________________________________________________

In [73]:
model.compile(loss='categorical_crossentropy', optimizer=SGD(lr=0.08), metrics=['accuracy'])
model.fit(x_train, y_train, batch_size=100, epochs=50, verbose=1, validation_split=0.2 )

Train on 17134 samples, validate on 4284 samples
Epoch 1/50
17134/17134 [==============================] - 1s 68us/step - loss: 1.5344 - acc: 0.3972 - val_loss: 1.4775 - val_acc: 0.4008
Epoch 2/50
17134/17134 [==============================] - 0s 17us/step - loss: 1.4791 - acc: 0.4021 - val_loss: 1.4710 - val_acc: 0.4008
Epoch 3/50
17134/17134 [==============================] - 0s 17us/step - loss: 1.4775 - acc: 0.4022 - val_loss: 1.4693 - val_acc: 0.4008
Epoch 4/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.4762 - acc: 0.4025 - val_loss: 1.4711 - val_acc: 0.4008
Epoch 5/50
17134/17134 [==============================] - 0s 17us/step - loss: 1.4754 - acc: 0.4022 - val_loss: 1.4681 - val_acc: 0.4008
Epoch 6/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.4723 - acc: 0.4022 - val_loss: 1.4734 - val_acc: 0.4008
Epoch 7/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.4652 - acc: 0.4069 - val_loss: 1.4659 - val_acc: 0.4008
Epoch 8/50
17134/17134 [==============================] - 0s 21us/step - loss: 1.4450 - acc: 0.4280 - val_loss: 1.4067 - val_acc: 0.4349
Epoch 9/50
17134/17134 [==============================] - 0s 23us/step - loss: 1.4142 - acc: 0.4414 - val_loss: 1.3760 - val_acc: 0.4482
Epoch 10/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3800 - acc: 0.4527 - val_loss: 1.3689 - val_acc: 0.4662
Epoch 11/50
17134/17134 [==============================] - 0s 23us/step - loss: 1.3698 - acc: 0.4611 - val_loss: 1.4240 - val_acc: 0.4339
Epoch 12/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3615 - acc: 0.4595 - val_loss: 1.3509 - val_acc: 0.4601
Epoch 13/50
17134/17134 [==============================] - 0s 23us/step - loss: 1.3611 - acc: 0.4573 - val_loss: 1.3553 - val_acc: 0.4680
Epoch 14/50
17134/17134 [==============================] - 0s 21us/step - loss: 1.3594 - acc: 0.4579 - val_loss: 1.3604 - val_acc: 0.4561
Epoch 15/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3587 - acc: 0.4600 - val_loss: 1.3578 - val_acc: 0.4685
Epoch 16/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3578 - acc: 0.4586 - val_loss: 1.3475 - val_acc: 0.4692
Epoch 17/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3566 - acc: 0.4598 - val_loss: 1.3479 - val_acc: 0.4680
Epoch 18/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3549 - acc: 0.4632 - val_loss: 1.3554 - val_acc: 0.4482
Epoch 19/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3576 - acc: 0.4592 - val_loss: 1.3629 - val_acc: 0.4683
Epoch 20/50
17134/17134 [==============================] - ETA: 0s - loss: 1.3575 - acc: 0.457 - 0s 21us/step - loss: 1.3547 - acc: 0.4592 - val_loss: 1.3576 - val_acc: 0.4589
Epoch 21/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3540 - acc: 0.4619 - val_loss: 1.3456 - val_acc: 0.4685
Epoch 22/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3555 - acc: 0.4588 - val_loss: 1.3547 - val_acc: 0.4669
Epoch 23/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3539 - acc: 0.4584 - val_loss: 1.3468 - val_acc: 0.4655
Epoch 24/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3536 - acc: 0.4597 - val_loss: 1.3578 - val_acc: 0.4538
Epoch 25/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3523 - acc: 0.4621 - val_loss: 1.3451 - val_acc: 0.4683
Epoch 26/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3516 - acc: 0.4627 - val_loss: 1.3439 - val_acc: 0.4701
Epoch 27/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3519 - acc: 0.4625 - val_loss: 1.3813 - val_acc: 0.4552
Epoch 28/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3512 - acc: 0.4612 - val_loss: 1.3448 - val_acc: 0.4673
Epoch 29/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3516 - acc: 0.4608 - val_loss: 1.3460 - val_acc: 0.4694
Epoch 30/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3493 - acc: 0.4618 - val_loss: 1.3496 - val_acc: 0.4589
Epoch 31/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3505 - acc: 0.4639 - val_loss: 1.3458 - val_acc: 0.4678
Epoch 32/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3504 - acc: 0.4607 - val_loss: 1.3474 - val_acc: 0.4601
Epoch 33/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3511 - acc: 0.4618 - val_loss: 1.3438 - val_acc: 0.4701
Epoch 34/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3521 - acc: 0.4619 - val_loss: 1.3862 - val_acc: 0.4521
Epoch 35/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3505 - acc: 0.4598 - val_loss: 1.3491 - val_acc: 0.4683
Epoch 36/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3508 - acc: 0.4610 - val_loss: 1.3442 - val_acc: 0.4676
Epoch 37/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3497 - acc: 0.4613 - val_loss: 1.3448 - val_acc: 0.4638
Epoch 38/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3488 - acc: 0.4639 - val_loss: 1.3918 - val_acc: 0.4512
Epoch 39/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3500 - acc: 0.4623 - val_loss: 1.3441 - val_acc: 0.4673
Epoch 40/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3496 - acc: 0.4622 - val_loss: 1.3440 - val_acc: 0.4678
Epoch 41/50
17134/17134 [==============================] - 0s 26us/step - loss: 1.3487 - acc: 0.4605 - val_loss: 1.3605 - val_acc: 0.4694
Epoch 42/50
17134/17134 [==============================] - 0s 21us/step - loss: 1.3492 - acc: 0.4610 - val_loss: 1.3444 - val_acc: 0.4685
Epoch 43/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3492 - acc: 0.4630 - val_loss: 1.3616 - val_acc: 0.4451
Epoch 44/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3496 - acc: 0.4607 - val_loss: 1.3497 - val_acc: 0.4671
Epoch 45/50
17134/17134 [==============================] - 0s 20us/step - loss: 1.3493 - acc: 0.4620 - val_loss: 1.3468 - val_acc: 0.4697
Epoch 46/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3493 - acc: 0.4627 - val_loss: 1.3525 - val_acc: 0.4678
Epoch 47/50
17134/17134 [==============================] - 0s 17us/step - loss: 1.3489 - acc: 0.4624 - val_loss: 1.3621 - val_acc: 0.4678
Epoch 48/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3493 - acc: 0.4621 - val_loss: 1.3514 - val_acc: 0.4697
Epoch 49/50
17134/17134 [==============================] - 0s 18us/step - loss: 1.3495 - acc: 0.4607 - val_loss: 1.3482 - val_acc: 0.4650
Epoch 50/50
17134/17134 [==============================] - 0s 19us/step - loss: 1.3488 - acc: 0.4617 - val_loss: 1.3488 - val_acc: 0.4648

<br>
<font face="黑体"> Conclusion
    
1/ the accuracy of training machine~46%<br>
2/the accuracy of test~46%<br>